<div class="container">
  <h3 class="text-center"> All Event </h3>  
  <div class="d-flex justify-content-around">    
    <% @events.each do |event| %>    
      <div class="card bg-light mx-2" style="width: 18rem;">
        <div class="card-body">
          <h5><%= event.title %></h5>
          <p class="card-text"><span>Creator:</span>
          <%= link_to event.creator.name, user_path(event.creator) %></p>
          <%= link_to 'See Details', event_path(event), class:"card-link" %>
        </div>
      </div>
    <% end %> 
   </div>
   <div class="d-flex justify-content-center mt-4">
    <%= link_to 'Click to create an event', new_event_path, class:"btn btn-primary " %> 
   </div>  
</div>