<div class="row">
  <div class="offset-4 col-md-4">
    <h3 class="text-center"> Show all Event </h3>
    <% @events.each do |event| %>
      <%= event.title %><br/>
      <%= event.description %>
      <%= event.creator.name %>
      <br/>
    <% end %> <br />
    <%= link_to 'Click to create an event', new_event_path, class:"btn btn-primary" %> 
  </div>
</div>